p
{
	margin: 5px auto 5px auto;
	text-indent:0px;
}

.postBody p, .postCon p 
{
	margin: 5px auto 5px auto;
}

.postBody p, .postCon p
{
	text-indent:0px;
}

.login_tips a{text-decoration:underline;}

#div_digg .diggnum{line-height:1.5em;}
#div_digg .burynum {line-height:1.5em;}

#green_channel a:link,#green_channel a:visited,#green_channel a:active {color:#FFFFFF;border:none;}