img{border:0px;}
#MySignature
{
	margin-top:10px;
}

.blog_topic
{
	margin-top:10px;
	margin-left:2em;
}

#blog_post_info_block{margin-top:20px;}

#EntryTag
{
	font-size:12px;
}

.topicListFooter
{
	text-align:right;
	margin-right:10px;
	margin-top:10px;
}

#divRefreshComments
{
	text-align: right;
	margin-right: 10px;
	margin-bottom: 5px;
	font-size: 12px;
}

.commentTextBox
{
	Width:480px;
	height:220px;	
}

.commenttb
{
	width:320px;
}

.tb_comment_name
{
	width:200px;
}

#MyIng
{
    margin-top:5px;
}

.ing_title
{
    font-weight:bold;
    text-align:center;
    /*font-size:12px;*/
}

.ing_body
{
    margin-top:5px;
    margin-bottom:5px;
    /*font-size:12px;*/
    word-break: break-all;
}

.ing_date
{
    text-align:center;
    color: Gray;
    font-size:11px;
}

.ing_footer
{
    text-align:right;
    margin-right:5px;
}

#divNewMsg
{
    margin-top:2px;
    text-align:center;
}

#divSendMsg
{
    
}

.commentform table td input{margin:2px auto;}

.sendMsg2This:link,.sendMsg2This:visited,.sendMsg2This:active{
	font-size:12px;
	text-decoration:none;
	background:url('/images/icoMsg.gif') no-repeat top left;
}
.sendMsg2This:hover{
		background:url('/images/icoMsg.gif') no-repeat bottom left;
}

.RecentComment
{
    overflow:hidden;	
}

/* CodeHighlighter Begin */
.cnblogs_code
{
	background-color: #F5F5F5;
	font-family:Courier New;
	font-size: 13px;
	border: 1px solid #CCCCCC;
	padding: 5px;
	word-break: break-all;
	overflow:auto;
}
.cnblogs_code span{
	font-family:Courier New;
}
.cnblogs_code_Collapse
{
	border-right: #808080 1px solid;
	border-top: #808080 1px solid;
	border-left: #808080 1px solid; 
	border-bottom: #808080 1px solid; 
	background-color: #FFF;
	padding:2px;
}
.cnblogs_code_collapse
{
	border-right: #808080 1px solid;
	border-top: #808080 1px solid;
	border-left: #808080 1px solid; 
	border-bottom: #808080 1px solid; 
	background-color: #FFF;
	padding:2px;
}
.cnblogs_code_hide{	display:none;}
.code_img_closed{vertical-align:middle;padding-right:5px;}
.code_img_opened{vertical-align:middle;padding-right:5px;}
.cnblogs_code_open{margin-top:5px;}
/* CodeHighlighter End */

.desc_img
{
	float:right;
}

.MsoNormal
{
	font-size:13px;
	line-height:150%;
}

/* blog search */
.div_my_zzk
{
	margin-top:5px;
	margin-bottom:5px;
}

.input_my_zzk
{
	width:100px;
	vertical-align:middle;
	height:20px;
}

input.btn_my_zzk {vertical-align:middle;padding:2px;font-size:12px;}
/* blog search end */

pre
{
	margin-top:0px;
	margin-bottom:0px;
}

.divPostCommentBox
{
	float:left;width:500px;
}

.CommentBoxNav
{
	width:100px;float:right;margin-top:20px;
	line-height:120%;
	font-size:12px;
}

.comment_pager{
	text-align:left;
	padding-bottom:5px; 
}

.comment_pager_current{
	color:Red;
}

.dp-highlighter
{
	font-family: "Consolas", "Courier New", Courier, mono, serif;
	font-size: 12px;
	background-color: #E7E5DC;
	width: 99%;
	overflow: auto;
	margin: 18px 0 18px 0 !important;
	padding-top: 1px; /* adds a little border on top when controls are hidden */
}

/* clear styles */
.dp-highlighter ol,
.dp-highlighter ol li,
.dp-highlighter ol li span 
{
	margin: 0;
	padding: 0;
	border: none;
}

.dp-highlighter a,
.dp-highlighter a:hover
{
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.dp-highlighter .bar
{
	padding-left: 45px;
}

.dp-highlighter.collapsed .bar,
.dp-highlighter.nogutter .bar
{
	padding-left: 0px;
}

.dp-highlighter ol
{
	list-style: decimal; /* for ie */
	background-color: #fff;
	margin: 0px 0px 1px 45px !important; /* 1px bottom margin seems to fix occasional Firefox scrolling */
	padding: 0px;
	color: #5C5C5C;
}

.dp-highlighter.nogutter ol,
.dp-highlighter.nogutter ol li
{
	list-style: none !important;
	margin-left: 0px !important;
}

.dp-highlighter ol li,
.dp-highlighter .columns div
{
	list-style: decimal-leading-zero; /* better look for others, override cascade from OL */
	list-style-position: outside !important;
	border-left: 3px solid #6CE26C;
	background-color: #F8F8F8;
	color: #5C5C5C;
	padding: 0 3px 0 10px !important;
	margin: 0 !important;
	line-height: 14px;
}

.dp-highlighter.nogutter ol li,
.dp-highlighter.nogutter .columns div
{
	border: 0;
}

.dp-highlighter .columns
{
	background-color: #F8F8F8;
	color: gray;
	overflow: hidden;
	width: 100%;
}

.dp-highlighter .columns div
{
	padding-bottom: 5px;
}

.dp-highlighter ol li.alt
{
	background-color: #FFF;
	color: inherit;
}

.dp-highlighter ol li span
{
	color: black;
	background-color: inherit;
}

/* Adjust some properties when collapsed */

.dp-highlighter.collapsed ol
{
	margin: 0px;
}

.dp-highlighter.collapsed ol li
{
	display: none;
}

/* Additional modifications when in print-view */

.dp-highlighter.printing
{
	border: none;
}

.dp-highlighter.printing .tools
{
	display: none !important;
}

.dp-highlighter.printing li
{
	display: list-item !important;
}

/* Styles for the tools */

.dp-highlighter .tools
{
	padding: 3px 8px 3px 10px;
	font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: silver;
	background-color: #f8f8f8;
	padding-bottom: 10px;
	border-left: 3px solid #6CE26C;
}

.dp-highlighter.nogutter .tools
{
	border-left: 0;
}

.dp-highlighter.collapsed .tools
{
	border-bottom: 0;
}

.dp-highlighter .tools a
{
	font-size: 9px;
	color: #a0a0a0;
	background-color: inherit;
	text-decoration: none;
	margin-right: 10px;
}

.dp-highlighter .tools a:hover
{
	color: red;
	background-color: inherit;
	text-decoration: underline;
}

/* About dialog styles */

.dp-about { background-color: #fff; color: #333; margin: 0px; padding: 0px; }
.dp-about table { width: 100%; height: 100%; font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; }
.dp-about td { padding: 10px; vertical-align: top; }
.dp-about .copy { border-bottom: 1px solid #ACA899; height: 95%; }
.dp-about .title { color: red; background-color: inherit; font-weight: bold; }
.dp-about .para { margin: 0 0 4px 0; }
.dp-about .footer { background-color: #ECEADB; color: #333; border-top: 1px solid #fff; text-align: right; }
.dp-about .close { font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; background-color: #ECEADB; color: #333; width: 60px; height: 22px; }

/* Language specific styles */

.dp-highlighter .comment, .dp-highlighter .comments { color: #008200; background-color: inherit; }
.dp-highlighter .string { color: blue; background-color: inherit; }
.dp-highlighter .keyword { color: #069; font-weight: bold; background-color: inherit; }
.dp-highlighter .preprocessor { color: gray; background-color: inherit; }

/*#region Comment Form*/

#commentform_title {
	background-image: url(http://static.cnblogs.com/images/icon_addcomment.gif);
	background-repeat:no-repeat;
	padding: 0 0 0 25px;
	margin-bottom:10px;
}

div.commentform input.author, div.commentform input.email, div.commentform input.url {
	background-image: url(http://static.cnblogs.com/images/icon_form.gif);
	background-repeat: no-repeat;
	border: 1px solid #CCC;
	padding: 4px 4px 4px 30px;
	width: 300px;
	font-size:13px;	
}

div.commentform input.author {
	background-position: 3px -3px;
}
div.commentform input.email {
	background-position: 3px -33px;
}
div.commentform input.url {
	background-position: 3px -63px;
}
div.commentform textarea {
	width:450px;
	height:300px;	
	font-size:13px;
	/*background-color: #FFF;
	border: 1px solid #CCC;*/
}
div.commentform p{
	margin-top:10px;
	line-height:20px;
}
.commentbox_title{
	width:450px;	
}
.commentbox_title_left{
	float:left;
}
.commentbox_title_right{
	float:right;
	height:22px;
}

.login_tips {
	background-image: url(http://static.cnblogs.com/images/icon_addcomment.gif);
	background-repeat:no-repeat;
	margin-top:10px;
	padding:0px 0px 10px 25px;
	font-weight:bold;
}

.login_tips a{text-decoration:underline;}

.clear{
	clear:both;
}

.comment_quote{
	padding: 5px 5px 5px 5px;
	border: 1px solid #CCC;		
}

.comment_icon{
	vertical-align:top;	
}

#comment_nav{text-align:right;}
#comment_nav a{padding-left:10px;}
.ad_commentbox_up{margin-left:5px;}
.ad_commentbox_up a{padding-left:10px;}

/*#endregion Comment Form */

/* Digg Begin */

#digg_block{margin-top:10px;}

#author_profile{float:left;width:280px;margin-top:0px;margin-bottom:10px;color:#000;margin-left:0px;font-size:12px;}
#author_profile a:link,#author_profile a:visited,#author_profile a:acitve{text-decoration:none;}
#author_profile a:hover{text-decoration:underline;}
.author_avatar{vertical-align:top;float:left;padding-right:5px;padding-top:5px;padding-left:2px;border:0px;}
.author_profile_title{font-weight:bold;color:#666;}
.author_profile_info{float:left;line-height:18px;}
#author_profile_follow{}
#author_profile_follow a:link{}
/*a.btn_user_follow:link,a.btn_user_follow:visited,a.btn_user_follow:hover,a.btn_user_follow:active
{	
	margin-top:10px;
	padding:3px 11px 5px;
	color:#222;
	text-decoration:none;	
	background:url("http://static.cnblogs.com/images/btn_follow.gif") no-repeat left top;
}*/
#div_digg{
	float:right; 
	/*text-align:right;*/
	margin-bottom:10px;
	margin-right:30px;
	font-size:12px;
	width:120px;
	text-align:center;
	margin-top:10px;
}

.diggit{
	float:left; 
	width:46px;
	height:52px;
	background:url('http://static.cnblogs.com/images/upup.gif') no-repeat;	
	text-align:center;
	cursor:pointer;
	margin-top:2px;
	padding-top:5px;
}
.diggnum{
	font-size:14px;
	color:#075DB3;
	font-family:Verdana;
}

.buryit{
	float:right; 
	margin-left:20px;
	width:46px;
	height:52px;
	background:url('http://static.cnblogs.com/images/downdown.gif') no-repeat;	
	text-align:center;
	cursor:pointer;
	margin-top:2px;
	padding-top:5px;
}

.burynum{
	font-size:14px;
	color:#075DB3;
	font-family:Verdana;
}

.diggword{
	margin-top:5px;
	margin-left:0px;
	font-size:12px;
	color:gray;
}

a.digg_gray:link		 {color: gray; text-decoration: underline;}
a.digg_gray:visited	 {color: gray; text-decoration: underline;}
a.digg_gray:hover	 {color: red; text-decoration: underline;}
a.digg_gray:active	 {color: gray; text-decoration: underline}

/* Digg End */

a.site_hot:visited,
a.site_hot:active,
a.site_hot:link
{
	color:red;
	text-decoration:none;
}

a.site_hot:hover{color:red;text-decoration:underline;}

.ad_bottom_text{line-height:150%;}
#profile_block{margin-top:5px;line-height:150%;font-size:13px;}
.ing_date{color:Gray;}

ol{margin-left:2em;}
ol li{list-style-type:decimal;}

.bq_post_comment{
	/*background:url('http://static.cnblogs.com/images/icon_comment.gif') no-repeat 0 5px ;*/
	margin:0 0 5px 0;
	/*padding-left:4.5em;*/
	/*padding-top:1em;
	padding-right:3em;*/
	font-style:normal;
	line-height:180%;
	border:1px solid #DDDDDD;
	padding:10px;
	
}
/*.blog_commment_face{float:left;padding-right:5px;border:0px;display:block;}
.blog_comment_body{height:48px;}*/
#post_next_prev{line-height:150%;}
.post_next_prev_date{color:Gray;}

#side_ing_block{line-height:150%;}
#side_ing_block ul li{background-image:url(http://static.cnblogs.com/images/icon_voice.gif);background-repeat:no-repeat;padding:0px 0 0px 20px;}
a.ing_lnk:link,a.ing_lnk:active,a.ing_lnk:visited{color:Gray;text-decoration:none;border:0px;}
.itnews{line-height:150%;}
.job_offer_list{line-height:150%;}

/*blockquote{
	background:url('http://common.cnblogs.com/images/blockquote.gif') no-repeat 0 5px ;
	margin:0 0 15px 0;
	padding-left:4.5em;
	padding-top:1em;
	padding-right:3em;
}*/

blockquote{background:none;border:2px solid #EFEFEF;color:#333;margin-left:25px;padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;margin-top:10px;margin-bottom:10px;}

.c_ad_block{margin-top:10px;line-height:1.5;}

#grade_flag{font-size:12px;}

div.commentform textarea.comment_textarea{line-height:1.6;}

.c_b_p_desc{text-indent:2em;word-break:break-all;overflow:hidden;}
.c_b_p_desc_readmore{padding-left:5px;}

.c_b_p_link_desc{margin-top:2px;}

#green_channel{padding:10px 5px;margin-bottom:0px;margin-top:10px;border:#c0c0c0 1px dashed;font-size:9pt;color:#000;width:380px}
#green_channel a{
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNo8zjsOxCAMBFB/KEAUFFR0Cbng3nQPw68ArZdAlOZppPFIBhH5EAB8b+Tlt9MYQ6i1BuqFaq1CKSVcxZ2Acs6406KUgpt5/LCKuVgz5BDCSb13ZO99ZOdcZGvt4mJjzMVKqcha68iIePB86GAiOv8CDADlIUQBs7MD3wAAAABJRU5ErkJggg%3D%3D) repeat-x;
display: inline-block;
padding: 3px 8px;color: #fff;
text-decoration: none;font-weight: bold;
cursor: pointer;
margin-right:10px;
-moz-border-radius: 5px;-webkit-border-radius: 10px;-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
font-size:9pt;
}
#green_channel a:hover{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAyCAYAAACd+7GKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi/v//vwMTAwPDfzjBgMpFI/7hFSOT9Y8qRuF3JLoHAQIMAHYtMmRA+CugAAAAAElFTkSuQmCC);}
#green_channel #green_channel_digg{background-color:#2DAEBF;}
#green_channel #green_channel_follow{background-color:#e33100;}
#green_channel #green_channel_favorite{background-color:#FFB515;}
#green_channel #green_channel_contact{background-color:#EEE;color:#555;}